<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="content-wrapper">
      {{content}}
      {% if page.active != 'index' %}
      {% endif %}
    </div>
  </body>
  <!--
                   ______ _______ _______ _______  ______  _____   ______  ______ _______  _____  _     _
                  |  ____ |_____| |______    |    |_____/ |     | |  ____ |_____/ |_____| |_____] |_____|
                  |_____| |     | ______|    |    |    \_ |_____| |_____| |    \_ |     | |       |     |


                                                            .,:::.
                                              .,:,,,:;iii;;;;i::;;;;;iii;,,,,,:.
                                         .,,;i1i;:,.....     .1f      .....,::;ii;:,.
                                     .:i;;;,.  ,i;.          ,if           .ii,  .,;;;i:.
                                .,:i1i:.        :t:          .1t          .;1:        .:ii;:,.
                              .;ii1i:           .ii,         ,tt          .::.           ,i;;i;.
                            :ii:.  ;1,           :ti   .,,,,,;;;;,,,,,.   ;i,           ,;;  .:ii:
                          i1;.      :t;         .;;:;:,,,,...,;;,...,,,,;i:,:,         ,ti.      ;ti.
                      .,;i:.         ,;;. ..,,,,,.:::.       .1f        .ii:,.,,::,  .i1:          :ii,.
                    .i;;,             :;.,:,.     .;i,       ,if        .1;.      .:iii:             ,ii;,
                   .i;.:LCi         .:;;i;.        .1;       ,1f       .i1:        ,i;:::,         :CCi.:1:
                  i1;   ,;Cf:    .,::.  .ii.       .;1:      .11.      ,i:.       .ii,  .,::.    .tC1.   :1i.
                :i;        ;0C: ,:.      .it:       ,;;,,,:,:;::i;,:,,,::,       .i;.      .::.;L01        ;t;
              .i1,          :;i1;.        .:i:  .,:,,:::,..  .11.  ..,;;;::,,.  :i;.        .;i;,.          .ii.
            .,;;           .:..:LL:         ,::::,.  ,ii,    ,tt     .;1:  .,:::;;.        .tL:..:,          .;;.
           .::ii,         ::.    ,0C:    .:;::ti.     ,:,    .11     :t:      :i;:;:.    .C81    ,;:         ,;;,..
           :1;,,:ii:,   ,;:.       ;Cf;.,:,.  .;;.    .i;.   ,tt    ,ii,    .i1,   ,:,.:tL;       .,:,   .:i;:,,:i:
          :1;     .:1i,::,          .;;;;.     ,i1,    :i;  .,ii,   :i,    ,11,      ,:;i,          :i;:i1;.     :1:
         .i:         ,::if:        .:: :CL:     .i1:  ,;,,;:.,,::,::,:i:  :i:.     .CGi ::.        :f1:,.         :t:
        ,1i,         ,;, .:ii:,  .,:,    ;LLi    ,;;::..:i;. ,tt   :i; .;:::,.   ,fGi    ,:,.  .:ii;. .:,          ;1:
       .ii.         ,:.      ,i1;::.       iLt, ,::;1:  .;1, .11  .1i.  ;1:,:, .fG1.      .;;;1i,.     .::          :;.
      .;i,         ,:,         ,:::ii,      ,ii;,   ,1i  .:, .11  :1:  :;.   :ii;,      .i1;::.         .::.        .;;,
     .,,:;1i:,... ,;,         .:,.  :i1;,.  ,,.;LLi  .ii. :;..11 .i: .i1,  ;CLi,,,. .,;1i:  .::.         .:,....,:i1;,:,,
      .:, .,,..:1;,,;;,..    .::.      ,:;:::,   iLL:  ;;:,::::::;:.,;i. :LCi   .;:;i:,.     .::.     .,;;,:i1;..,,. :1:
     .;i,        ,::,:ii:,;i;,,.         ,:,,;1;   ;CL;:::,,:;i;,,,::::;tCi   :i;:;;,         ,,:;i;,:ii,,;;,        .ii,
     ,i;,        ,,        ,;:,:iii;,. ..,.   .:11:..::,::.,it1;,::,:;,,.  :i1;.   .:,.  ,;iii;::;,       .,,         ;i:
     :i:.       .,,         ,:,  .,:,.:;,:;;:,.  .::..,;tti,:1ft;:;;1i;,,:;;.  .,:;;:,::,,::.  ,:.         ,,         ,i;
     ,;,        ...        .,,.        ,;:..:i11i:,,;i;,.;Lfi;tt::fC1,:;i:,,;i1ii:..:;,        .,,.        .,.        .;;
    .;i,....   .,::.     . .::.........,:,...    .,::::::::tG0GG0Gt:::::::::.    .. .::........,::,.       :;:,   ....,;;.
    ;,,;111111t1::itt11111t;.,it11111t1,.:11111111;:;ii1t11L0G, C0L11t11i:,:i111111ti,:i111111ti,.;t111111t:.;1t111111i:::.
    .i1,       .,:,        ,;:.       .:;,        :;:,.,:::1C0888G1:,,..,,;:        .;:.       .;;,        ,;:.       ,ii
     :;,        ...         ,,.        .::..,;ii;;:,:ii;,:tf1iff;;fLi,;i;:,,;iii;:,,::,        .,,.        .,.        .;;
     :i:.       .,.         ,;:   .:,,::,:;;:,,   :;,.,;1t1::1ft;:;i1i:,::;:   ,,:i;:,,:,,:,.  .,.         ,,         ,;;
     ,ii,        ,,        .;::i11i;,. .::.    :1t: .::,:;.,itt;,:;::;,,.  :tt;    ,;,. .,;i11;:::.       .,,         ;i:
     .;;,        ,;;:,:ii;:,,::,.        ,;:;;::.  iCf:,:::.,;ii;:,:;:.,tC1   :;;;;;,        .:;::,:;ii:,,;i:         ii,
      .;,  .,,.,;:,,;i:,.    .::.      ,:::,:,   ;LLi  ;;,,::;::;;:,:;;  iCL;   ,;:;;:,      .:;,    .,,;;,:ii:.,,.  :1;
     .,,,it1;:.   ,;:         .:,.  ,1ti,   ,, ;LCi  ,ii,.;;..11 .i;..1t:  ;GGi.,,   .it1,  .::.         ,;,   .,;1ti,,,,
      .:;,         ,:,         ::::;i:.     .;;;:   :ii  .:, .11  :1:  :i,  .:iii,      ,i;,::,         .:,.        ,::,.
        ii.         ,,.      .;ii:;.       ,ff,.,:,:1;  .;1: .11  .1i.  ;1:.:, ,fC;       ,;;;1i,      .::          :;.
        ,11,         ,;.  :11:.  .,;,    ,GC;    ,:;::. :1;. ,tt   :1; .:::,.    :LCi    ,:,   .;1t:  .:,          i1:
         ,i:         :iii1;.       .:, ,LL;     .i1:  ,;:,,..,:;:..:::;:  :i;.     ;LL; ,,.       .;1i::,         :1;
          ;1:     .,11:::.           :;;i.     .i1:    :i;.  ,ii,   ;i,    ,ti.      :::;.          ,;;;ii:.     :1;.
           :1;.,;ii:,   ,;:.       ,Cf;,,:,   .;;     .ii,   ,tt    ,ii,     ;1,   ,:,.:fL;       .,;,   .:;i;..;i:
           .:;i;:.       .,;,    :CC;    .:;,:1i.     ,:,    .11     :1:     .:i:,::.    ,CG1    ,::.        :i;,,.
             :1;           .::,:LL;        .:::::,   ,ii,    ,tt     .i1:   .:::;;.        ,ff:.,:,           :i:.
              .it.          ,;i;:.         :i:  .:::,,::,    .tt     ,::::,::.  :1;.        .;;;:.           i;.
                :1:        :GL:.,:,       it:       :;:,,,,,::,,;:,,,,,::,       ,i;.      .:,.:fG1        ;t;.
                 .i1:   .,LL;    .:;,.   ;i,        ;1;      ,11.      :i:.       ,ii.  .,::,    ,LCi.   ,ii.
                   ,i: ,LCi         .;:;i;.        .1;       ,tt       .i1,        ,;i::;,         .GC; :1:
                    .;::,             :;,::,.     .;i,       .11        .1;      ..:i1i,             :;;:,
                     .,:;;:          ,;;. .,,,,,..:;,        ,tt         i1;..,,,:,  .i1:          ,;i:,.
                         .i1:       :t;         ,1;:;;,,,..  :ii,  ..,,:;i,,;,         :t;       ;ti.
                            :ii,.  ;1:.          :i;  .,,,,..:;;:,..,,,.  :;,           ,i;. .,ii:.
                              ,ii;ii,           .ii,         .1f          .::.           ,i:;ii,
                                .,:;11:         :t;          ,if          .:t:         ,11;,,.
                                     ,:;:;;..  ,i;.          ,1t            ii,  ..;i;;;:
                                         .,;iiii;:,....      .tt        ...,::;iii;:.
                                              .,:,,:;i1iiiiiii:,iiiiiiiii;:,,:,.
                                                         .,,::,,::,,.

                                           Hey! Come here often? If so, we'd love to chat.
                                   Shoot us an email at JohnDev@gastrograph.com and we can talk tech.
  -->
  {% include mixpanel-event--case-study.html %}
  <script src="/assets/js/frontend.js"></script>

  {% if page.active == 'pricing' %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript">
      {% if site.production %}
        Stripe.setPublishableKey('pk_live_mk8QpO0hCOKMZGYmzOrF65K2');
      {% else %}
        Stripe.setPublishableKey('pk_test_qdunoptxl9KNXR5qk7WdtkVg');
      {% endif %}
    </script>
  {% endif %}

  {% comment %} if statement here for blog {% endcomment %}
</html>