---
layout: blog
active: blog
---
{% comment %}
  BELOW IS THE POST LAYOUT
  if You change part of this, go and change it in _includes/blog_index.html
{% endcomment %}
{% if page.pdf != true %}
  <div class="post">
    <div class="row">
      <div class="col-md-2">
        {% assign post=page %}
        {% include blog_author_picture.html post=post %}
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <h5>
              <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}: </span>
              <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-11">
            <br>
            {{ content }}
          </div>
        </div>
        {% if page.author %}
          {% include author_bio.html author=author %}
        {% else %}

        {% endif %}
        {% include disqus.html %}
      </div>
    </div>
  </div>
{% else %}
  <div class="post">
    <div class="row">
      <div class="col-md-2 center-vertical">
        {% assign post=page %}
        {% include blog_author_picture.html post=post %}
      </div>
      <div class="col-md-10 center-vertical">
        <div class="row">
          <div class="col-md-12">
            <h5>
              <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}: </span>
              <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-11">
          <br>
          {{ content }}
        </div>
      </div>
      {% include author_bio.html author=author %}
      {% include disqus.html %}
    </div>
  </div>
{% endif %}
