---
layout: website
title: Gastrograph | Quality Control Services | Analytical Flavor Systems
active: index
description: "Quality control and flavor profiling software for producers of craft and artisan beer, spirits, and coffee."
---
<div class="hero-index">
  <div class="container-fluid">
    <video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
      <source type="video/mp4" src="assets/images/video/hero-video.m4v"/>
      <source type="video/webm" src="assets/images/video/hero-video.webm"/>
      <source src="assets/images/video/hero-video.ogv"/>
      Video not supported
    </video>
    <object id="speechbubble1" class="speechbubble" data="assets/images/bubble1-01-01.svg" type="image/svg+xml">
      Your browser doesn't support SVG
    </object>
    <object id="speechbubble2" class="speechbubble" data="assets/images/bubble2-02-01.svg" type="image/svg+xml">
      Your browser doesn't support SVG
    </object>
    <object id="speechbubble3" class="speechbubble" data="assets/images/bubble3-03-01.svg" type="image/svg+xml" >
      Your browser doesn't support SVG
    </object>
    <object id="speechbubble4" class="speechbubble" data="assets/images/bubble4-04-01.svg" type="image/svg+xml" >
      Your browser doesn't support SVG
    </object>
    <img class="tablet-image img-responsive" src="/assets/images/hero-poster.png">
  </div><!-- /.container-fluid -->
</div><!-- /.hero-index -->

<div class="well-hero">
  <h1 class="text-center">Quality Control for Beverage Producers
    <br>
    <small>Your brand is valuable. Protect it.</small>
  </h1>
</div><!-- /.well-hero -->

<a class="arrow--clickable"><div class="arrow bounce"></div></a>

<div class="content-main">
  <div class="container">
    <div class="hidden-xs">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <img class="glyph center-block img-responsive" src="/assets/images/focused-glyph.png">
        </div>
        <div class="col-sm-3 col-md-3">
          <img class="glyph center-block img-responsive" src="/assets/images/platforms.png">
        </div>
        <div class="col-sm-3 col-md-3">
          <img class="glyph center-block img-responsive" src="/assets/images/scalable-glyph.png">
        </div>
        <div class="col-sm-3 col-md-3">
          <img class="glyph center-block img-responsive" src="/assets/images/better-glyph.png">
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-3 col-md-3 text-center">
          <h4>Product analytics:</h4>
        </div>
        <div class="col-sm-3 col-md-3 text-center">
          <h4>Free Android &amp; iOS app:</h4>
        </div>
        <div class="col-sm-3 col-md-3 text-center">
          <h4>The power to scale:</h4>
        </div>
        <div class="col-sm-3 col-md-3 text-center">
          <h4>Always getting better:</h4>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-xs-3 col-md-3 text-center">
          <p class="center-block">It's a battle of love for the market share of your target customers, where Gastrograph is the secret weapon and you're the general. <em>#Winning</em></p>
        </div>
        <div class="col-xs-3 col-md-3 text-center">
          <p class="center-block">Gastrograph Review gives your team the power to review products and assess changes in quality and flavor profile anywhere, at anytime.</p>
        </div>
        <div class="col-xs-3 col-md-3 text-center">
          <p class="center-block">From pre-distribution to global domination, we build and customize the flavor profiling &amp; quality control tools you need.</p>
        </div>
        <div class="col-xs-3 col-md-3 text-center">
          <p class="center-block">Free updates keep you equipped with the latest and greatest quality control and flavor profiling features.</p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.hidden-xs -->
    <div class="visible-xs-block wrapper-glyphs">
      <div class="row">
       <div class="col-xs-12">
          <img class="glyph center-block img-responsive" src="/assets/images/focused-glyph.png">
          <h4 class="text-center">Analytics for your products &mdash; because knowing is half the battle:</h4>
          <p class="text-center">It's a battle of love for the market share of your target customers, where Gastrograph is the secret weapon and you're the general. <em>#Winning</em></p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <img class="glyph center-block img-responsive" src="/assets/images/platforms.png">
          <h4 class="text-center">Free App for Android and iOS:</h4>
          <p class="text-center">Gastrograph Review gives your team the power to review products and assess changes in quality and flavor profile anywhere and anytime.</p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <img class="glyph center-block img-responsive" src="/assets/images/scalable-glyph.png">
          <h4 class="text-center">The power to scale:</h4>
          <p class="text-center">From pre-distribution to global domination, we build and customize the flavor profiling &amp; quality control tools you need.</p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <img class="glyph center-block img-responsive" src="/assets/images/better-glyph.png">
          <h4 class="text-center">Always getting better:</h4>
          <p class="text-center">Free updates keep you equipped with the latest and greatest quality control and flavor profiling features.</p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.visible-xs-block -->
  </div><!-- /.container -->

  <span class="color-blurb-blue">
    <h4 class="text-center" align="center">Flag flaws, taints, contaminations, and batch-to-batch deviations in real-time from human sensory data.</h4>
  </span>

  <div class="container">
    <h2 class="text-center">Monitoring your beer 24/7 for the following 20 flaws at 99% accuracy:</h2>
    <table class="flat-table flat-table-red table-responsive">
      <tr>
        <td class="hover" data-hover-box="hover-acetaldehyde"><div>Acetaldehyde</div></td>
        <td class="hover" data-hover-box="hover-acetic-acid"><div>Acetic Acid</div></td>
        <td class="hover" data-hover-box="hover-butyric-acid"><div>Butyric Acid</div></td>
        <td class="hover" data-hover-box="hover-caprylic-acid"><div>Caprylic Acid</div></td>
      </tr>
      <tr>
        <td class="hover" data-hover-box="hover-p-mentha-8-thiol-3-one"><div>p-mentha-8-thiol-3-one</div></td>
        <td class="hover" data-hover-box="hover-diacetyl"><div>Diacetyl</div></td>
        <td class="hover" data-hover-box="hover-dimethyl-sulfide"><div>Dimethyl Sulfide (DMS)</div></td>
        <td class="hover" data-hover-box="hover-ethyl-butyrate"><div>Ethyl Butyrate</div></td>
      </tr>
      <tr>
        <td class="hover" data-hover-box="hover-sour-organic-acids"><div>Sour Organic Acids</div></td>
        <td class="hover" data-hover-box="hover-ethyl-hexanoate"><div>Ethyl Hexanoate</div></td>
        <td class="hover" data-hover-box="hover-cis-3-hexenol"><div>Cis-3-Hexenol</div></td>
        <td class="hover" data-hover-box="hover-isobutyraldehyde"><div>Isobutyraldehyde</div></td>
      </tr>
      <tr>
        <td class="hover" data-hover-box="hover-4-vinyl-guaiacol"><div>4-vinyl guaiacol</div></td>
        <td class="hover" data-hover-box="hover-hydrogen-sulfide"><div>Hydrogen Sulfide (H<sub>2</sub>S)</div></td>
        <td class="hover" data-hover-box="hover-oxidized-hop-oils"><div>Oxidized Hop Oils</div></td>
        <td class="hover" data-hover-box="hover-isoamyl-acetate"><div>Isoamyl Acetate</div></td>
      </tr>
      <tr>
        <td class="hover" data-hover-box="hover-3-methyl-2-butene-1-thiol"><div>3-methyl-2-butene-1-thiol</div></td>
        <td class="hover" data-hover-box="hover-mercaptan"><div>Mercaptan</div></td>
        <td class="hover" data-hover-box="hover-metallic-ion-taints"><div>Metallic Ion Taints</div></td>
        <td class="hover" data-hover-box="hover-trans-2-nonenal"><div>Trans-2-Nonenal</div></td>
      </tr>
    </table><!-- /.flat-table /.flat-table-red /.table-responsive -->
  </div><!-- /.container -->

  <div class="hidden-xs">
    <div id="hover-acetaldehyde" class="hover-box">
      <h2>Acetaldehyde/acetal</h2>
      <p><strong>Tastes like: </strong>Aldehydic, bruised/green apples, emulsion paint.</p>
      <p><strong>Caused by: </strong>High oxygen levels in packaged beer, bacterial contamination (especially acetic acid bacteria), PET production problems, <strong>and/or</strong> incomplete fermentation.</p>
    </div>
    <div id="hover-acetic-acid" class="hover-box">
      <h2>Acetic acid</h2>
      <p><strong>Tastes like: </strong>Vinegar (especially white vinegar).</p>
      <p><strong>Caused by: </strong>Fermentation problems, wild yeast, bacterial infection (especially acetic acid bacteria), <strong>and/or</strong> other microbiological contaminants.</p>
    </div>
    <div id="hover-butyric-acid" class="hover-box">
      <h2>Butyric acid</h2>
      <p><strong>Tastes like: </strong>Putrid/rancid, baby vomit, acrid.</p>
      <p><strong>Caused by: </strong>Bacterial infection during mashing, wort separation <strong>and/or</strong> after packaging.</p>
    </div>
    <div id="hover-caprylic-acid" class="hover-box">
      <h2>Caprylic acid</h2>
      <p><strong>Tastes like: </strong>Goaty, waxy, fatty, tallowy.</p>
      <p><strong>Caused by: </strong>Beer ageing (conditioning), fermentation problems, <strong>and/or</strong> spoiled hops.</p>
    </div>
    <div id="hover-p-mentha-8-thiol-3-one" class="hover-box">
      <h2>p-menthane-8-thiol-3-one</h2>
      <p><strong>Tastes like: </strong>Catty, blackcurrant leaves, ribes, tom-cat urine.</p>
      <p><strong>Caused by: </strong>Early exposure to oxidation and/or high temperatures during storage <strong>and/or</strong> spoiled hops.</p>
    </div>
    <div id="hover-diacetyl" class="hover-box">
      <h2>Diacetyl</h2>
      <p><strong>Tastes like: </strong>Buttery, butterscotch, milky.</p>
      <p><strong>Caused by: </strong>Natural byproduct of yeast during fermentation. Can also be caused by a bacterial contamination.</p>
    </div>
    <div id="hover-dimethyl-sulfide" class="hover-box">
      <h2>Dimethyl sulfide (DMS)</h2>
      <p><strong>Tastes like: </strong>Sweet corn, creamed corn, cooked vegetables, tomato sauce, sea vegetables.</p>
      <p><strong>Caused by: </strong>Malt-derived precursor during wort production <strong>and/or</strong> bacterial contamination.</p>
    </div>
    <div id="hover-ethyl-butyrate" class="hover-box">
      <h2>Ethyl butyrate</h2>
      <p><strong>Tastes like: </strong>Tropical fruits, mango, tinned pineapple.</p>
      <p><strong>Caused by: </strong>Byproduct of fermentation <strong>and/or</strong> butyric acid in wort.</p>
    </div>
    <div id="hover-sour-organic-acids" class="hover-box">
      <h2>Sour organic acids</h2>
      <p><strong>Tastes like: </strong>Sour.</p>
      <p><strong>Caused by: </strong>Bacterial contamination.</p>
    </div>
    <div id="hover-ethyl-hexanoate" class="hover-box">
      <h2>Ethyl Hexanoate</h2>
      <p><strong>Tastes like: </strong>Estery, apple, anise.</p>
      <p><strong>Caused by: </strong>Natural byproduct of fermentation.</p>
    </div>
    <div id="hover-cis-3-hexenol" class="hover-box">
      <h2>cis-3-hexenol</h2>
      <p><strong>Tastes like: </strong>Leafy, grassy, crushed green leaves, hedge clippings.</p>
      <p><strong>Caused by: </strong>Wort boiling problems, natural flavor of some hops, <strong>and/or</strong> ageing.</p>
    </div>
    <div id="hover-isobutyraldehyde" class="hover-box">
      <h2>Isobutyraldehyde</h2>
      <p><strong>Tastes like: </strong>Grainy, nuts.</p>
      <p><strong>Caused by: </strong>Insufficient wort boiling <strong>and/or</strong> poor yeast condition.</p>
    </div>
    <div id="hover-4-vinyl-guaiacol" class="hover-box">
      <h2>4-vinyl guaiacol</h2>
      <p><strong>Tastes like: </strong>Spicy, herbal, clove-like.</p>
      <p><strong>Caused by: </strong>Presence of wild yeast during fermentation, bacterial contamination, <strong>and/or</strong> phenolic contamination of raw materials.</p>
    </div>
    <div id="hover-hydrogen-sulfide" class="hover-box">
      <h2>Hydrogen sulfide (H<sub>2</sub>S)</h2>
      <p><strong>Tastes like: </strong>Sulphur, rotten eggs.</p>
      <p><strong>Caused by: </strong>Byproduct of yeast during fermentation and/or maturation <strong>and/or</strong> bacterial contamination.</p>
    </div>
    <div id="hover-oxidized-hop-oils" class="hover-box">
      <h2>Oxidized hop oils</h2>
      <p><strong>Tastes like: </strong>Hop oil.</p>
      <p><strong>Caused by: </strong>Improper addition of hops.</p>
    </div>
    <div id="hover-isoamyl-acetate" class="hover-box">
      <h2>Isoamyl Acetate</h2>
      <p><strong>Tastes like: </strong>Estery, fruity, bananas, pear drops (candy).</p>
      <p><strong>Caused by: </strong>Byproduct of yeast during fermentation.</p>
    </div>
    <div id="hover-3-methyl-2-butene-1-thiol" class="hover-box">
      <h2>3-methyl-2-butene-1-thiol</h2>
      <p><strong>Tastes like: </strong>Skunky, sunstruck.</p>
      <p><strong>Caused by: </strong>Exposure of finished beer to sunlight and/or artificial light.</p>
    </div>
    <div id="hover-mercaptan" class="hover-box">
      <h2>Mercaptan (ethanethiol)</h2>
      <p><strong>Tastes like: </strong>Sink drain, rotten vegetables, leek-like, natural gas.</p>
      <p><strong>Caused by: </strong>Byproduct of yeast during fermentation <strong>and/or</strong> yeast autolysis during maturation.</p>
    </div>
    <div id="hover-metallic-ion-taints" class="hover-box">
      <h2>Metallic ion taints</h2>
      <p><strong>Tastes like: </strong>Metallic.</p>
      <p><strong>Caused by: </strong>Tainted raw ingredients (especially barley) <strong>and/or</strong> poor quality metal surfaces of equipment.</p>
    </div>
    <div id="hover-trans-2-nonenal" class="hover-box">
      <h2>Trans-2-nonenal</h2>
      <p><strong>Tastes like: </strong>Cardboard, oxidized.</p>
      <p><strong>Caused by: </strong>Oxidation and/or ageing (mainly due to storage conditions, temperature, and amount of available oxygen in the packaged beer).</p>
    </div>
  </div><!-- /.hidden-xs -->
  <hr>
  <div class="container">
    <h2 class="text-center">How It Works </h2>
    <img class="howitworks-img center-block img-responsive" src="/assets/images/how-it-works-spread.png">
    <br>
    <p class="text-center center-block">The Gastrograph App for Android and iOS collects a wealth of information including demographic, situational, environmental, and reviewer data. It then sends this information to our secure, cloud-based Producer Panel after every review. You will be notified of variations between batches, possible contaminations, and/or flaws that our state-of-the-art data algorithms detect.</p>
  </div><!-- /.container -->
  <hr>
  <div class="container">
    <h2 class="text-center">The Need for Quality</h2>
    <div class="text-center center-block">
      <p>Producing a consistently high&dash;quality product is hard. Between flaws, taints, contaminations, and batch&dash;to&dash;batch deviations, every batch has limitless combinations of problems that could hurt your brand and lose your customer's loyalty. The craft beverage industry (beer, coffee, spirits, and wine) is one of the fastest growing markets in the world &mdash; demand has never been higher and the need for consistent quality has never been more important. Every batch you produce is a chance to turn someone into a brand loyalist, grow your market share, and build your company for the future.</p>
    </div>
  </div><!-- /.container -->
  <hr>
  <div class="container">
    <h2 class="text-center">The Gastrograph Solution</h2>
    <img class="solution-img center-block img-responsive" src="/assets/images/solution-products.png">
    <p class="text-center center-block">Gastrograph is a set of tools that makes quality control easy and painless for producers of artisan beverages. Your team reviews your products while Gastrograph provides real-time analytics and information on the flavor profile of <i>every</i> batch. You'll be able to not only make better decisions on how to ship, store, and optimize the flavor profile of every product you produce, but also compare profiles between batches and individual products, analyze your consumers' preferences, and most importantly, ensure the long-term quality of your product.</p>
    <blockquote><h4 class="text-center"><b>We help our customers get the answers they're looking for - <br>and we do it quicker, easier, cheaper, and more precisely than they could on their own.</b></h4></blockquote>
    <p class="text-center center-block">The Gastrograph system is based on sensory science, data mining, and analytical chemistry. The review app for iOS and Android sends over 600 variables to our servers, where we run proprietary machine learning and artificial intelligence models in the cloud 24 hours a day, 365 days a year, giving you <i>real-time</i>, constant vigilance over changes in your products flavor profile and alerting you to quality control risks.</p>
  </div><!-- /.container -->
  <hr>
  <div class="container wrapper-index-features">
    <h2 class="text-center">Features</h2>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-push-6 center-vertical">
        <h3 class="feature-title" style="text-align: left; margin-top: 5%;">Quality Control</h3>
        <h5 style="text-align: left;">Real-time alerts for flaws, taints, contaminations, and batch variations</h5>
        <p style="text-align: left;">Choose the individuals on your production and quality control team to recieve a phone call, text message, or email when a problem is detected <i>or predicted</i>. We send you only the info you need to make immediate decisions when it matters. The entire analysis is always available on your Producer Panel.</p>
      </div>
      <div class="col-sm-12 col-md-6 col-md-pull-6 center-vertical">
        <img class="feature-glyph center-block img-responsive" src="/assets/images/device-art/tablet-warning.png" width="40%">
        <!-- <div class="well">
          <div class="row">
            <div class="col-sm-1">
              <i class="fa fa-phone fa-3x"></i>
            </div>
            <div class="col-sm-10 col-sm-push-1">
              <p class="text-center">Listen to what it sounds like when we alert you of a problem in your product.</p>
            </div>
          </div>
        </div>
        <iframe src="https://test-call.gastrograph.com/call" width="100%" height="180px" scrolling="no" frameborder="0" seamless></iframe> -->
      </div>
    </div><!-- /.row -->
    <hr>
    <div class="row">
      <div class="col-md-6 center-vertical">
        <h3 class="feature-title" style="text-align: right; margin-top: 10%;">Flavor Profiling</h3>
        <h5 style="text-align: right;">Understand how your consumers perceive your product</h5>
        <p style="text-align: right;">Optimize your products' flavor profiles and target the highest-value demographics by tasting population, preference archetype, and tasting experience.</p>
      </div>
      <div class="col-md-6 center-vertical">
        <img class="feature-glyph center-block img-responsive" src="/assets/images/flavor-profiling-shot.png" width="100%">
      </div>
    </div><!-- /.row -->
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-push-6 center-vertical">
        <h3 class="feature-title" style="text-align: left; margin-top: 1%;">Product Comparison</h3>
        <h5 style="text-align: left;">Stay ahead of your market by knowing your competition</h5>
        <p style="text-align: left;">Compare your products against past batches, your competitor's products, and stylistic or regional averages! Our database holds over 10,000 product reviews to give you Objective Flavor Profiles of any one you choose.</p>
      </div>
      <div class="col-sm-12 col-md-6 col-md-pull-6 center-vertical">
        <img class="feature-glyph center-block img-responsive" src="/assets/images/comparison-shot.png" width="100%">
      </div>
    </div><!-- /.row -->
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3 class="feature-title" style="text-align: right; margin-top: 10%;">Employee Panel</h3>
        <h5 style="text-align: right;">Train, manage, and monitor your Sensory Team</h5>
        <p style="text-align: right;">The Gastrograph system can turn your entire staff into your quality control team through integrated training and review quotas. Keep track of how your employees are tasting by assigning experience goals and blind panels. Watch your Producer Panel get more accurate as your team grows in skill and experience!</p>
      </div>
      <div class="col-md-6">
        <img class="feature-glyph center-block img-responsive" src="/assets/images/employee-panel-shot.png" width="100%">
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
  <hr class="hr-faded">
  <a href="http://eepurl.com/1KzIf">
    <button type="button" class="btn btn-primary btn-lg btn-index-trial center-block" data-toggle="modal">
      Request a demo!
    </button>
  </a>
  <div class="container container-as-seen-in" style="padding-top: 0">
    <h4 class="text-center"><i>As Seen In:</i></h4>
    <div class="row row-table">
      <div class="col-xs-6">
        <a href="http://blogs.nvidia.com/blog/2015/09/02/beer/"><img class="ad-logo img-responsive center-block" src="assets/images/nvidia_logo_horizontal.png"></a>
      </div>
      <div class="col-xs-6 row-table">
        <a href="http://venturebeat.com/2015/09/02/brewer-uses-graphics-chips-to-create-better-beer/"><img class="ad-logo img-responsive center-block" src="assets/images/venturebeat-logo.png"></a>
      </div>
    </div><!-- /.row -->
    <br>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <img class="ad-logo img-responsive center-block" src="assets/images/bevmasterlogo.png">
      </div>
      <div class="col-xs-4">
        <img class="ad-logo img-responsive center-block" src="assets/images/brewerlogo.png">
      </div>
      <div class="col-xs-4">
        <img class="ad-logo img-responsive center-block" src="assets/images/newbrewerlogo.png">
      </div>
    </div><!-- /.row -->
  </div><!-- /.container /.container-as-seen-in -->
  <span class="color-blurb-blue">
    <h4 class="text-center center-block">Gastrograph is a strong competitive advantage in a growing industry&mdash; we include a blanket trade-secret clause in all of our contracts. We promise to never share or use your data with any competitor, distributor, government, the NSA, or any other company.</h4>
  </span>
  <div class="container center-block" style="padding-bottom: 5%">
    <h2 class="text-center">Testimonials</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4 center-vertical text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-4 center-vertical">
            <i class="fa fa-beer fa-bg-circle"></i>
          </div>
          <div class="col-xs-12 col-sm-8 center-vertical text-center">
            <h3>Mid-Sized Beer Brewer</h3>
            <h5 style="font-size: 1.7rem;" style="color:#555;">Based in Central Pennsylvania</h5>
          </div>
        </div><!-- /.row -->
      </div><!-- /.center-vertical -->
      <div class="col-xs-12 col-sm-8 center-vertical">
        <p class="testimony">
          <span class="bqstart">"</span>
          We have a competitive advantage in the market and my team loves it. We've been able to build and grow our brand by shipping consistently higher quality products than our regional and national competitors - as a small company!
          <span class="bqend">"</span>
        </p>
      </div><!-- /.center-vertical -->
    </div><!-- /.row -->
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-4 center-vertical text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <i class="fa fa-coffee fa-bg-circle"></i>
          </div>
          <div class="col-xs-12 col-sm-8 center-verical text-center">
            <h3>Small Coffee Roaster</h3>
            <h5 style="font-size: 1.7rem;" style="color:#555;">Based in Manhattan, NYC</h5>
          </div>
        </div><!-- /.row -->
      </div><!-- /.center-vertical -->
      <div class="col-xs-12 col-sm-8 center-vertical">
        <p class="testimony">
          <span class="bqstart">"</span>
          Gastrograph proved better than both the SCAA and our in-house cupping sheet - once we learned the system, we were hooked. What originally drew us to Gastrograph wasn't just the technology, but the team &ndash; they love this space and their passion shows when we need their support. <span class="bqend">"</span>
        </p>
      </div><!-- /.center-vertical -->
    </div><!-- /.row -->
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-4 center-vertical text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-4 center-vertical">
            <i class="fa fa-glass fa-bg-circle"></i>
          </div>
          <div class="col-xs-12 col-sm-8 center-vertical text-center">
            <h3>Mid-Sized Distillery</h3>
            <h5 style="font-size: 1.7rem;" style="color:#555;">Based in New York State</h5>
          </div>
        </div><!-- /.row -->
      </div><!-- /.center-vertical -->
      <div class="col-xs-12 col-sm-8 center-vertical">
        <p class="testimony">
          <span class="bqstart">"</span>
          The ability to design and target products to specific consumer demographics is invaluable - we've seen a <b>huge</b> increase in recommendations and sales, just from understanding who our consumers are and what they want to drink!
          <span class="bqend">"</span>
        </p>
      </div>
    </div><!-- /.row -->
    <div class="row">
      <a href="http://eepurl.com/1KzIf">
        <button type="button" class="btn btn-primary btn-lg btn-index-trial center-block" data-toggle="modal">
          Request a demo!
        </button>
      </a>
    </div><!-- /.row -->
  </div><!-- /.container -->


  <div class="footer">
    <div class="container">
      <div class="row text-center-xs">
        <div class="col-xs-12 col-sm-4 center-vertical">
          <a href="https://twitter.com/Gastrograph"><i style="padding:2%;" class="socialMediaButton fa fa-twitter-square fa-2x"></i></a>
          <a href="https://www.facebook.com/pages/Gastrograph/417664028315185"><i style="padding:2%;" class="socialMediaButton fa fa-facebook-square fa-2x"></i></a>
          <a href="https://www.linkedin.com/company/gastrograph"><i style="padding:2%;" class="socialMediaButton fa fa-linkedin-square fa-2x"></i></a>
          <!--<a href=""><i class="socialMediaButton fa fa-instagram fa-2x"></i></a>-->
          <p class="text-left-sm text-center-xs text-left-md text-left-lg">
            Registered Trademark &reg;<br>Copyright &copy; 2016 Analytical Flavor Systems
            <br>Patented
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 center-vertical">
          <div class="row">
            <div class="col-md-6">
              <a id="link-footer-play-store" href="https://play.google.com/store/apps/details?id=com.gastrograph.testggapp">
                <img class="center-block button-play-store" alt="Android app on Google Play"
                src="/assets/images/en_app_rgb_wo_45.png" />
              </a>
            </div>
            <div class="col-md-6 footer-badge-app-download">
              <a id="link-footer-app-store" class="center-block" href="https://itunes.apple.com/us/app/gastrograph-review/id923512201?mt=8&uo=4" target="itunes_store" style="display:block;overflow:hidden;margin:2px auto 10px;background:url(/assets/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg) no-repeat;width:135px;height:40px;"></a>
            </div>
          </div><!-- /.row -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
              <h6>
                <a href="/privacy.html">Privacy</a> &middot;
                <a href="/TOS.html">TOS</a>  &middot;
                <a href="/security/">Security</a> &middot;
                <a href="/open-source.html">Open Source</a> &middot;
              <a href="/feature-log.html">Release Notes</a>

              </h6>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 center-vertical pull-right">
          <br>
          <br>
          <p class="text-right-sm text-center-xs text-right-md text-right-lg">
            Contact our CEO Jason Cohen at<br>(305) 794 - 8392<br>
            <a href="mailto:JasonCEO@gastrograph.com">JasonCEO@gastrograph.com</a>
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
  {% include hotjar.html %}
  {% include adwords.html %}
</div><!-- /.content-main -->
