<div class="sign-up-qc-course">
  <form action="//gastrograph.us6.list-manage.com/subscribe/post?u=fed7880259&amp;id=9399fdb75d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="form-group">
      <label for="mce-NAME">Your Full Name</label>
      <input type="text" value="" name="NAME" placeholder="eg: John Smith" class="required form-control" id="mce-NAME">
    </div>
    <div class="form-group">
      <label for="mce-EMAIL">Email</label>
      <input type="email" value="" name="EMAIL" placeholder="eg: john@coffeeroastingco.com" class="required email form-control" id="mce-EMAIL">
    </div>
    <div class="form-group">
      <label for="mce-COMPANY">Your Artisan Company</label>
      <input type="text" name="COMPANY" placeholder="eg: Coffee Roasting Co." class="required form-control" value="" id="mce-COMPANY">
    </div>
    <div class="form-group">
      <label for="mce-PHONENUM">Phone Number</label>
      <input type="text" name="PHONENUM" placeholder="eg: (555) 555-5555" class="required form-control" value="" id="mce-PHONENUM">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response alert alert-danger" id="mce-error-response" style="display:none"></div>
      <div class="response alert-success alert" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_fed7880259_9399fdb75d" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Start the course!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg center-block"></div>
  </form>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
  (function($) {
   window.fnames = new Array();
   window.ftypes = new Array();
   fnames[0]='EMAIL';
   ftypes[0]='email';
   fnames[1]='NAME';
   ftypes[1]='text';
   fnames[2]='COMPANY';
   ftypes[2]='text';
   fnames[3]='PHONENUM';
   ftypes[3]='phone';}
   (jQuery));
  var $mcj = jQuery.noConflict(true);
  </script>

