<script>
function hideModalRemoveBlur() {
  $(".content").removeClass('blur');
  $("#startCourse").modal('hide');
}
</script>
<div class="fade modal" id="startCourse" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="access-course">
  <div class="modal-dialog modal-dialog-wide">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Begin MailChimp Signup Form -->
        <div class="row">
          <div class="col-md-12">
            <div class="sign-up-qc-course" id="mc_embed_signup">
              <form action="//gastrograph.us6.list-manage.com/subscribe/post?u=fed7880259&amp;id=9399fdb75d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <h2 class="text-center">Take the free six week course on quality control</h2>
                <h6 class="text-center">One 15 minute email per week to start a quality control program at your company</h6>
                <div class="row">
                  <div class="col-md-6 col-md-push-6">
                    <h4>This week</h4>
                    <ul class="text-course-schedule-large">
                      <li><strong>Part 1: </strong>Set a goal</li>
                    </ul>
                    <h4>Week 2</h4>
                    <ul class="text-course-schedule-large">
                      <li><strong>Part 2: </strong>Choose your test</li>
                      <li><strong>Part 3: </strong>Select your panelists</li>
                    </ul>
                    <h4>Week 3</h4>
                    <ul class="text-course-schedule-large">
                      <li><strong>Part 4: </strong>Synchronize your production and review schedule</li>
                      <li><strong>Part 5: </strong>Train your panelists</li>
                    </ul>
                    <h4>Week 4</h4>
                    <ul class="text-course-schedule-large">
                      <li><strong>Part 6: </strong>Generate enough data to make decisions</li>
                      <li><strong>Part 7: </strong>Analyze the results</li>
                    </ul>
                    <h4>Week 5</h4>
                    <ul class="text-course-schedule-large">
                      <li><strong>Part 8: </strong>Apply your findings to your production and distribution process</li>
                      <li><strong>Part 9: </strong>Repeat steps 1-8 for every batch of every product</li>
                    </ul>
                    <h4>Week 6</h4>
                    <ul class="text-course-schedule-large">
                      <li><strong>Part 10: </strong>Succeed</li>
                    </ul>
                  </div><!--/.col-6-->
                  <div class="col-md-6 col-md-pull-6">
                    <div class="row">
                      <div class="col-md-6 col-md-offset-3">
                        <img src="/assets/images/Glyphs_bayestheorem.png" class="img-responsive img-center">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="mce-NAME">Your Full Name</label>
                          <input type="text" value="" name="NAME" placeholder="eg: John Smith" class="required form-control" id="mce-NAME">
                        </div>
                        <div class="form-group">
                          <label for="mce-EMAIL">Email</label>
                          <input type="email" value="" name="EMAIL" placeholder="eg: john@brewingco.com" class="required email form-control" id="mce-EMAIL">
                        </div>
                        <div class="form-group">
                          <label for="mce-COMPANY">Your Artisan Company</label>
                          <input type="text" name="COMPANY" placeholder="eg: Beer Brewing Co." class="required form-control" value="" id="mce-COMPANY"> </div>
                        <div class="form-group">
                          <label for="mce-PHONENUM">Phone Number</label>
                          <input type="text" name="PHONENUM" placeholder="(555) 555-5555" class="required form-control" value="" id="mce-PHONENUM">
                        </div>
                        <div id="mce-responses" class="clear">
                          <div class="response alert alert-danger" id="mce-error-response" style="display:none"></div>
                          <div class="response alert-success alert" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_fed7880259_9399fdb75d" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Start the course!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-block"></div>
                        <div class="text-center extra-margin-top">
                          <a href="#" class="dontClick" onclick="hideModalRemoveBlur()">No thanks, I risk bad batches</a>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
(function($) {
 window.fnames = new Array();
 window.ftypes = new Array();
 fnames[0]='EMAIL';
 ftypes[0]='email';
 fnames[1]='NAME';
 ftypes[1]='text';
 fnames[2]='COMPANY';
 ftypes[2]='text';
 fnames[3]='PHONENUM';
 ftypes[3]='phone';}
 (jQuery));
var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->

