<div class="row" style="margin-bottom: 5%;">
    <div class="col-md-4 col-md-offset-4">
        <div class="center">
            <h4>Looking for a specific post?</h4>
            <form id="blogSearch" action="search.html" method="get">
                <div class="input-group">
                    <input type="text" name="query" id="search_box" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
